name: CI/CD Pipeline

on:
  push:
    branches:
      - main   # run pipeline when code is pushed to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 3: Build Docker image to run cicd
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/node-docker-githubactions-cicd-app:latest .

      # Step 4: Push Docker image
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/node-docker-githubactions-cicd-app:latest
